<footer class="site-footer">
        <div class="site-footer__wrapper">
            <div class="site-footer__row">
                <div class="site-footer__sponsor-box">
                    <div class="sponsor-logos">
                        <ul>
                            <li><a href="http://sokultur.ch" target="_blank"><img src="{{ 'slt-sponsor-1.svg' | asset_url }}"></a></li>
                            <li><a href="http://www.stadt-solothurn.ch" target="_blank"><img src="{{ 'slt-sponsor-2.svg' | asset_url }}"></a></li>
                            <li><a href="http://www.prohelvetia.ch" target="_blank"><img src="{{ 'slt-sponsor-3.svg' | asset_url }}"></a></li>
                            <li><a href="http://www.srg.ch" target="_blank"><img src="{{ 'slt-sponsor-4.svg' | asset_url }}"></a></li>
                            <li><a href="http://www.buchhaus.ch" target="_blank"><img src="{{ 'slt-sponsor-5.svg' | asset_url }}"></a></li>
                            <li><a href="http://www.selection-schwander.ch" target="_blank"><img src="{{ 'slt-sponsor-6.svg' | asset_url }}"></a></li>
                            <li><a href="http://bak.admin.ch" target="_blank"><img src="{{ 'slt-sponsor-7.svg' | asset_url }}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="site-footer__social-media">
                    <p>
                        Folgen Sie uns auf:
                    </p>
                    <ul>
                        <li><a href="https://twitter.com/SOLiteraturtage" target="_blank">Twitter</a></li>
                        <li><a href="https://www.facebook.com/SolothurnerLiteraturtage" target="_blank">Facebook</a></li>
                        <li><a href="https://www.instagram.com/solothurnerliteraturtage/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <div class="site-footer__row">
                <div class="site-footer__contact-box">
                    <div class="site-footer__contact-information">
                        <div class="festival-logo">
                            <img src="{{ 'solothurner-logo.svg' | asset_url }}" alt="SolothurnerLiteraturtage-Logo">
                        </div>
                        <div class="festival-address">
                            <p>Solothurner Literaturtage
                            <br>
                            Dornacherplatz 15a
                            <br>
                            Postfach
                            <br>
                            4502 Solothurn
                            <br>
                            <br>
                            info@literatur.ch
                            <br>
                            +41 32 622 44 11</p>
                        </div>
                    </div>
                    <div class="site-footer__copyright">
                        © Solothurner Literaturtage, 2021
                    </div>
                </div>
            </div>
        </div>
</footer>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
